* {
    box-sizing: border-box;
}

.all {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: center;
}
